In [7]:
import sys

In [8]:
import pandas as pd

In [9]:
data_zero = pd.read_csv('dataZero.csv')

In [10]:
data_zero.head()

    x     y
0  10  8.04
1   8  6.95
2  13  7.58
3   9  8.81
4  11  8.33

In [12]:
print(type(data_zero))

<class 'pandas.core.frame.DataFrame'>